:root {
  --nav-height: 9rem;
}

html {
  background-color: var(--mauve);
}

body {
  background: linear-gradient(-45deg, var(--base) 50%, var(--mauve) 100%);
  height: max-content;
  letter-spacing: 0.04em;
  padding-bottom: calc(var(--nav-height) * 2);
}