@value colors: '../colors/colors.css';
@value darkBlue, pink, white2 from colors;

@keyframes paragraphGlitch {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-2px, 0);
    text-shadow: 0 -2px 5px pink;
  }
  to {
    transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 1px);
    text-shadow: 1px 0 8px pink;
    color: transparent;
  }
  40% {
    transform: translate(0px, 0);
    text-shadow: 0 0 0px pink;
    color: inherit;
  }
  60% {
    transform: translate(2px, -1px);
    text-shadow: -1px 0 8px pink;
    color: transparent;
  }
  80% {
    transform: translate(0, 0);
    text-shadow: 0 0 0px pink;
    color: inherit;
  }
  95% {
    transform: translate(0, -2px);
  }
  to {
    transform: translate(0);
  }
}

.section {
  height: auto;
}

.body {
  font-family: nimbus-sans;
  font-size: 3rem;
  line-height: 1.4em;
  color: darkBlue;
  margin-bottom: 1em;
}

.letter {
  display: inline;
}

.glitch {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 reverse both;
}

.paragraphGlitch {
  animation: paragraphGlitch 50ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 reverse
    both;
}
