h1 {
  margin: 0;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 3;
}

.navigation__right {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 1rem;
  width: 100%;
}

.navigation__toggle {
  display: none;
}

.navigation__toolbar {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 1rem;
  transform: translateY(-4px);
}

.navigation__item {
  transition: opacity ease 300ms, color ease 300ms;
  font-family: gt-flexa;
  font-weight: bold;
  font-style: italic;
  font-size: var(--font-size-50);
  color: var(--contrast);
  padding: 4px 0;
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.navigation__item:hover {
  opacity: 0.8;
}

.navigation__item:active {
  color: var(--pink);
}

.navigation__item[value='true'] {
  border-bottom: 1px solid var(--pink);
}

.handle {
  display: block;
}

.handle__item {
  font-family: gt-flexa;
  font-style: italic;
  font-weight: bold;
  color: var(--pink);
  font-size: var(--font-size-200);
  padding: 4px 0;
  text-decoration: none;
  transition: opacity ease 300ms, color ease 300ms;
  white-space: nowrap;
}

.handle__item:hover {
  opacity: 0.8;
}

.handle__item:active {
  color: var(--yellow);
}

@media (max-width: 1000px) {
  .navigation__toolbar {
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .navigation__right {
    gap: 0.5rem;
  }
}
@media (max-width: 890px) {
  .navigation {
    flex-direction: column-reverse;
    padding-left: 1.5rem;
      padding-right: 1.5rem;
    margin: 0 auto;
    max-width: 100vw;
  }

  .handle__item {
    color: var(--yellow);
  }

  .handle__item:active {
    color: var(--pink);
  }

  .handle__item:hover {
    opacity: unset;
  }

  .navigation__item:hover {
    opacity: unset;
  }

  .navigation__toggle {
    transition: color 500ms ease-out;
    display: block;
    position: absolute;
    top: 4.2rem;
    right: 1.5rem;
    line-height: 1em;
    background: transparent;
    border: none;
    color: var(--contrast);
    font-size: var(--font-size-300);
    cursor: pointer;
    z-index: 2;
    padding: 0 0.5rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .navigation__toggle {
    top: 4.9rem
  }
}

@media (max-width: 420px) {
  .navigation__toolbar,
  .navigation__right {
    justify-content: space-between;
    gap: unset;
  }
}