.layout__background {
  /* background-color: var(--base);
  background: linear-gradient(-45deg, var(--base) 50%, var(--mauve) 100%); */
  box-sizing: border-box;
  width: 100vw;
  padding-bottom: max(2.5rem, env(safe-area-inset-bottom));
}

@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
}