.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
.handle--pink {
  fill: var(--pink);
}

.handle--yellow {
  fill: var(--yellow);
}

.handle__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

::slotted(.handle__links) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  position: absolute;
  top: 4rem;
  width: 100%;
}

.handle__toggle {
  display: none;
}

@media (max-width: 890px) {
  ::slotted(.handle__links) {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    position: relative;
    top: 2rem;
  }

  .handle__container {
    transition: transform 300ms ease-out;
    background-color: var(--contrast);
    padding: 3rem 2rem;
    height: 100vh;
    width: 60%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0);
    align-items: flex-start;
  }

  .handle__container--hidden {
    transform: translateX(100%);
  }

  .handle__toggle {
    transition: color 400ms ease-in;
    display: block;
    position: absolute;
    top: 3rem;
    right: 1.5rem;
    line-height: 1em;
    background: transparent;
    border: none;
    color: var(--contrast);
    font-size: var(--font-size-300);
    cursor: pointer;
    z-index: 2;
    padding: 0 0.5rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .handle {
    width: 75%;
  }

  .handle__toggle {
    top: 3.5rem;
    right: calc(7% - 0.5rem);
  }
}
