.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.handle {
  filter: blur(0.8px);
}

.handle--pink {
  fill: var(--pink);
  animation: move-left 2400ms infinite alternate-reverse;
}

.handle--blue {
  fill: var(--blue);
  animation: glitch 2000ms infinite linear alternate-reverse;
  animation-delay: -333ms;
  transform: translate(2px, 0);
  clip-path: polygon(0 50%, 100% 51%, 100% 100%, 0 100%);
}

.handle--green {
  fill: var(--green);
  animation: glitch 2000ms infinite linear alternate-reverse, move-right 1333ms infinite alternate-reverse;;
  animation-delay: -666ms;
  transform: translate(-2px, 1px);
  clip-path: polygon(0 0, 100% 0, 100% 47%, 0 47%);
}

.ligature--green {
  fill: var(--green);
  transform-origin: 50% 0%;
  transform: skew(4deg, 1deg);
}

.handle__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

::slotted(.handle__links) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  position: absolute;
  top: 4rem;
  width: 100%;
}

@media (max-width: 890px) {
  ::slotted(.handle__links) {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    position: relative;
    top: 2rem;
  }

  .handle__container {
    transition: translate 300ms ease-out;
    background-color: var(--base);
    padding: 4.3rem 2rem;
    height: 100vh;
    width: 60%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    translate: 100%;
  }

  .handle__container--open {
    translate: 0;
  }
}

@media (max-width: 600px) {
  .handle {
    width: 75%;
  }
}
